.wrapper .cta {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: 1s;
}

.wrapper .cta:hover {
    transition: 0.5s;
}

.wrapper .cta span:nth-child(2) {
    transition: 0.5s;
}

.wrapper .cta:hover span:nth-child(2) {
    transition: 0.5s;
}

.wrapper span {
    transform: skewX(15deg);
}

.wrapper span:nth-child(2) {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 12%;
}

/**************SVG****************/

.wrapper path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.wrapper path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.wrapper .cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.wrapper .cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.wrapper .cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}
