@import "./_font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #0500ff;
    --primary-color-light: #9c9bf1;
    --primary-bg-color: rgba(245, 242, 238, 0.466);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: var(--primary-bg-color);
    /* height: 500vh; */
}

.underline-animate:hover {
    color: var(--primary-color);
}

.underline-animate:after {
    content: "";

    bottom: -5%;
    right: 0;

    width: 0;
    height: 2px;

    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;

    background: linear-gradient(
        to bottom right,
        rgba(167, 167, 194, 0),
        rgba(5, 0, 255, 1)
    );

    position: absolute;
}

.underline-animate:hover:after {
    content: "";

    width: 100%;

    left: 0;

    background: linear-gradient(
        to bottom right,
        rgba(167, 167, 194, 0),
        rgba(5, 0, 255, 1)
    );

    position: absolute;
}
