@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #0500ff;
}

body {
    overflow-x: hidden;
    height: 200vh;
}

.underline-animate:hover {
    color: var(--primary-color);
}

.underline-animate:after {
    content: "";

    bottom: -5%;
    left: 0;

    width: 0;

    transition: width 0.25s ease;

    position: absolute;
}

.underline-animate:hover:after {
    width: 100%;
    height: 2.5px;

    background: linear-gradient(
        to bottom right,
        rgba(167, 167, 194, 0),
        rgba(5, 0, 255, 1)
    );
}
